<div class="container">
    
<div class="row">
    


        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show User Info and it's score when I hover</p>
               
 <div class="panel-footer"><span class="badge" style="background-color: #6b629e;">Score 42</span></div>
            </div>

                </div>
               
        </div>
 



<div class="col-md-8">
    
<div class="chat_window">
  <div class="top_menu">
    <div class="title">Chat</div>
  </div>
  <ul class="messages">
    
  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
    <input class="message_input" placeholder="Type your message here..." />
  </div>
  <div class="send_message">
    <div class="icon"></div>
    <div class="text">Send</div>
  </div>
</div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar">Hello</div>
    <div class="text_wrapper">
      <div class="text">Hello</div>
    </div>
  </li>
</div>
</div>


<div class="col-md-2">
  
<div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show User Info and it's score when I hover</p>
                
<div class="panel-footer"><a href="#"><span class="badge" style="background-color: #6b629e;">Score 42</span></a></div>
                </div>
                
            </div>


<!-- list of spectors -->

<div class="addon">
          <p>Spectators</p>
          <ul id="spectators" style="height: 225px !important;">
            <li class="clearfix">
              <a href="#" target="_blank">
              <!-- <img class="round" src="https://8share-production-my.s3.amazonaws.com/campaigns/4898/photos/profile/thumb_copy.png?1397732185"> -->
              <div class="legend-info">
                <strong>Social Good</strong>Help share a cause and do good.
                </div></a>
              </li>
            <li class="clearfix">
             <!--  <em class="hot"></em> -->
              <div class="legend-info">
                <strong>Fire Hot</strong>Featured hot special at the moment.
              </div>
            </li>
            <li class="clearfix">
              <!-- <em class="extra"></em> -->
              <div class="legend-info">
                <strong>Extra Fun</strong>Contests, surveys, prizes and more fun stuff.
              </div>
            </li>
          </ul>
        </div>

<!-- end list -->




</div>